<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/styles/base.css">

</head>
  <body>

    <%- include('../../layout/header') %> 

    <h1>detail ejs</h1>

    <div>
      <img src=<%= id.image_url%>>
      <h1><%= id.title %></h1>
      <h2><%= id.author %></h2>
      <p><%= id.description %></p>
      <p>ISBN: <%= id.isbn %></p>
    </div>

    
    
  </body>
</html>