<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="styles/base.css">

</head>
<body>
  
  <ul>

   <% for(let i = 0; i < itemObjectArray.length; i++){ %>
      <!-- <li> -->
      <div>
        <img src=<%= itemObjectArray[i].image_url%>>
        <h1><%= itemObjectArray[i].title %></h1>
        <h2><%= itemObjectArray[i].author %></h2>
        <p>Description: <%= itemObjectArray[i].description %></p>
        <p>ISBN: <%= itemObjectArray[i].isbn %></p>
        <p>Category: <%= itemObjectArray[i].categories %></p>

      <form action="/books" method="POST">
        <input type="hidden" name="author" value="<%= itemObjectArray[i].author %>">
        <input type="hidden" name="title" value="<%= itemObjectArray[i].title %>">
        <input type="hidden" name="isbn" value="<%= itemObjectArray[i].isbn %>">
        <input type="hidden" name="image_url" value="<%= itemObjectArray[i].image_url%>">
        <input type="hidden" name="description" value="<%= itemObjectArray[i].description %>">
        <input type="hidden" name="categories" value="<%= itemObjectArray[i].categories %>">


        <input type="submit" value="save book">
      </form>

      </div>
      <!-- </li> -->
    <% } %>
</ul>

  
</body>
</html>