<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>


  <link rel="stylesheet" href="styles/base.css">

</head>
<body>

  
  <form action="/books" method="POST"><!-- Name the GET, POST, PUT, DELETE the same for a single resource-->
    <fieldset>
      <legend>Add a book to collection</legend>

        <select name='booksOptions'>

        <% for(let i = 0; i < itemObjectArray.length; i++){ %>
          <option value='<%= JSON.stringify(itemObjectArray[i]) %>'> <%= itemObjectArray[i].title %> </option>
        <% } %>

      </select>

      <input type="submit" value="add book to collection">
    </fieldset>
  </form>

  
  <ul>

   <% for(let i = 0; i < itemObjectArray.length; i++){ %>
      <!-- <li> -->
      <div>
        <img src=<%= itemObjectArray[i].image_url%>>
        <h1><%= itemObjectArray[i].title %></h1>
        <h2><%= itemObjectArray[i].author %></h2>
        <p><%= itemObjectArray[i].description %></p>
        <p>ISBN: <%= itemObjectArray[i].isbn %></p>
      </div>
      <!-- </li> -->
    <% } %>
</ul>

  
</body>
</html>